:root {
    /* color variables */
    --light: #e9ffca;
    --dark: #906b06;
    --white: #fff;
    --black: #000;
    /* text variables */
}

@font-face {
    font-family: "Source Code";
    font-style: normal;
    src: url('../fonts/SourceCodeVariable-Roman.ttf') format('truetype');
}
@font-face {
    font-family: "Source Code";
    font-style: italic;
    src: url('../fonts/SourceCodeVariable-Italic.ttf') format('truetype');
}
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--light);
    color: var(--dark);
    font-size: 16px;
    font-family: "Source Code", monospace;
    padding:40px;
    padding-top: 90px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: underline dashed;
}

a:hover, a:focus {
    text-decoration: none;
}
em {
    font-style: normal;
    font-weight: bold;
    background-color: var(--dark);
    color: var(--light);
}

ul li {
    line-height: 1.5em;
} 
p {
    line-height: 1.4em;
}


/* structure */
nav {
    position: absolute;
    top: -77px;
    left: -10px;
}
nav a {
    font-weight: bolder;
    font-size: 3em;
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
    width: 67px;
    height: 67px;
    display: block;
    text-align: center;
}
nav a:hover, .toolbox a:hover, nav a:focus, .toolbox a:focus {
    color: var(--white);
}
.container {
    position: relative;
    width: calc(100% - 80px);
    max-width: 960px;
    margin: auto;
    border: 10px solid var(--dark);
    padding:30px;
    padding-top:10px;
}
header h1 {
    font-size : 3em;
}
footer {
    font-size: .8em;
    width: 100%;
    text-align: center;
    padding:1em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-icon {
    font-size: 4em;
}

/* home */

.node, .btn {
    position: relative;
    display: inline-block;
    color: var(--light);
    background-color: var(--dark);
    padding: 1em;
    margin: .5em;
}
sup {
    position: absolute;
    top: -.5em;
    left: -.5em;
    background-color: var(--dark);
    line-height: normal;
}
.node, .btn {
    color: var(--light);
    text-decoration: none;
}
.node::after {
    position: absolute;
    width: calc(2em + 12px);
    height: 6px;
    top: calc(50% - 3px);
    right: calc(-2em - 12px);
    content: " ";
    background-color: var(--dark);
}
.node:hover::after, .node:focus::after {
    right: calc(-2em - 18px);
}
.node.small:hover, .node.small:focus {
    text-decoration: underline dashed;
}
.node.small:hover::after, .node.small:focus::after {
    right: calc(-2em - 12px);
}
.node:hover, .node:focus, .node.small, .btn:hover, .btn:focus {
    color: var(--dark);
    background-color: var(--light);
    border: 6px solid var(--dark);
    padding: calc(1em - 6px);
}
.node:hover sup, .node:focus sup {
    color: var(--light);
    background-color: var(--dark);
    top: calc(-.5em - 6px);
    left: calc(-.5em - 6px);
}
.node h3 {
    padding: 0px;
    margin: 0px;
}

/* toolbox */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:30px;
}
.card {
    color: var(--light);
    background-color: var(--dark);
    padding: 1.5em;
    padding-top:0px;
}
.card a {
    color: var(--white);
} 
.card i {
    font-size: 3em;
    display: block;
    text-align: center;
    margin-top: .5em;
}